.about-project {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 70px;
}

.about-project__description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 26px;
  padding-top: 70px;
}

.about-project__h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.about-project__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.about-project__progress-bar {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 36px);
  font-size: 14px;
  line-height: 17px;
  padding-top: 110px;
  padding-bottom: 105px;
}

.about-project__progress-bar_part_one {
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.about-project__progress-bar_part_two {
  background-color: #f2f2f2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.about-project__progress-bar_part_one-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #a0a0a0;
}

.about-project__progress-bar_part_two-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #a0a0a0;
}
