.nav {
  display: flex;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav__button_type_login {
  background-color: #000;
  color: white;
  border: 0;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  width: 76px;
  height: 32px;
}

.nav__button_type_login:hover {
  cursor: pointer;
}

.nav__link {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.nav__link_type_active {
  font-weight: 500;
}

.nav__link_type_movies {
  font-size: 14px;
  line-height: 18px;
  margin-left: 20px;
}

.nav__link_type_signin {
  font-size: 12px;
  line-height: 16px;
  margin-right: 30px;
}

.nav__link_type_profile {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-left: 50px;
}

.nav__icon {
  background-color: #f9f9f9;
  height: 30px;
  width: 30px;
  border-radius: 6px;
  margin-left: 13px;
  background-image: url('./icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.nav__link:hover {
  cursor: pointer;
}
