.header_color_portfolio {
  background-color: #f3c1f8;
}

.header_color_movies {
  background-color: white;
}

.header__container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 70px;
}

.header__logo {
  padding-top: 18px;
  padding-bottom: 18px;
}
