.more {
  display: flex;
  justify-content: center;
}

.more__button {
  background-color: #f9f9f9;
  border: 0;
  border-radius: 6px;
  width: 320px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-top: 64px;
  margin-bottom: 80px;
  cursor: pointer;
}

.more__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .more__button {
    margin-top: 34px;
  }
}

@media screen and (max-width: 425px) {
  .more__button {
    margin-top: 43px;
    margin-left: 40px;
    margin-right: 40px;
  }
}
