.card {
  position: relative;
}

.card__figure {
  margin: 0;
}

.card__link {
  text-decoration: none;
}

.card:hover .card__save {
  display: block;
}

.card__save {
  border: 0;
  background-color: #f9f9f9;
  border-radius: 30px;
  font-size: 10px;
  font-weight: 400;
  line-height: 9px;
  color: #000;
  padding: 6px 7px;
  position: absolute;
  top: 14px;
  right: 14px;
  display: none;
  cursor: pointer;
}

.card__save:hover {
  opacity: 0.8;
}

.card__saved {
  background-color: #ff4062;
  background-image: url(./check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  border-radius: 10.5px;
  height: 21px;
  width: 21px;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.card__saved:hover {
  opacity: 0.8;
}

.card__image {
  width: 100%;
  border-radius: 6px;
  aspect-ratio: 360 / 200;
  object-fit: cover;
  display: block;
}

.card__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px;
}

.card__title {
  color: black;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 60px);
}

.card__duration {
  margin: 0;
  padding: 4px 8px;
  color: #a0a0a0;
  font-size: 11px;
  line-height: 10px;
  font-weight: 400;
  background-color: #f9f9f9;
  border-radius: 3px;
  white-space: nowrap;
}

@media screen and (max-width: 1000px) {
  .card__image {
    aspect-ratio: 339 / 190;
  }

  .card__text {
    margin: 25px 0;
  }
}

@media screen and (max-width: 570px) {
  .card__image {
    aspect-ratio: 339 / 190;
  }

  .card__text {
    margin: 16px 0;
  }

  .card__title {
    font-size: 12px;
    line-height: 15px;
  }
}
