.reg {
  max-width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.reg__logo {
  margin-top: 70px;
  margin-bottom: 40px;
}

.reg__logo-image {
  display: block;
}

.reg__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 0;
}

.reg__form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.reg__label {
  color: #a0a0a0;
  font-size: 10px;
  line-height: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.reg__input {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  border: 0;
  border-radius: 8px;
  background-color: #f9f9f9;
  outline: 0;
  padding: 15px;
}

.reg__input_type_error {
  color: #ff4062;
}

.reg__error-massage {
  color: #ff4062;
  font-size: 10px;
  line-height: 12px;
  margin-top: 10px;
}

.reg__button {
  border: 0;
  border-radius: 3px;
  background-color: black;
  color: white;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  margin-top: 69px;
  padding-top: 13px;
  padding-bottom: 15px;
  cursor: pointer;
}

.reg__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin: 16px 0 70px;
  color: #a0a0a0;
  text-align: center;
}

.reg__link {
  text-decoration: none;
  color: black;
  margin-left: 6px;
}

@media screen and (max-width: 456px) {
  .reg {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
  }

  .reg__logo {
    margin-top: 56px;
    margin-bottom: 50px;
    align-self: center;
  }

  .reg__form {
    margin-top: 60px;
  }

  .reg__title {
    text-align: center;
  }

  .reg__button {
    margin-top: 157px;
    font-size: 12px;
    line-height: 15px;
  }

  .reg__text {
    font-size: 12px;
    line-height: 15px;
    margin: 14px 0 30px;
  }
}
