.reg {
  width: 396px;
  margin: 0 auto;
}

.reg__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 40px 0;
}

.reg__form {
  display: flex;
  flex-direction: column;
}

.reg__label {
  color: #a0a0a0;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 10px;
}

.reg__input {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  border: 0;
  border-radius: 8px;
  background-color: #f9f9f9;
  outline: 0;
  padding: 15px;
  margin-bottom: 20px;
}

.reg__button {
  border: 0;
  border-radius: 3px;
  background-color: black;
  color: white;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  padding-top: 13px;
  padding-bottom: 15px;
  cursor: pointer;
}

.reg__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin: 16px 0 70px;
  color: #a0a0a0;
  text-align: center;
}

.reg__link {
  text-decoration: none;
  color: black;
  margin-left: 6px;
}
