.login {
  max-width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login__logo {
  margin-top: 70px;
  margin-bottom: 40px;
}

.login__logo:hover {
  opacity: 0.7;
}

.login__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 40px;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__label {
  color: #a0a0a0;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 10px;
}

.login__input {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  border: 0;
  border-radius: 8px;
  background-color: #f9f9f9;
  outline: 0;
  padding: 15px;
  margin-bottom: 12px;
}

.login__input_type_error {
  color: #ff4062;
  margin-bottom: 0px;
}

.login__error-message {
  color: #ff4062;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 6px;
}

.login__error {
  color: #ff004c;
  font-size: 11px;
  line-height: 13px;
  padding-top: 126px;
  min-height: 13px;
  text-align: center;
}

.login__button {
  border: 0;
  border-radius: 3px;
  background-color: black;
  color: white;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  padding-top: 13px;
  padding-bottom: 15px;
  cursor: pointer;
  margin-top: 20px;
}

.login__button:hover {
  opacity: 0.7;
}

.login__button_disabled {
  opacity: 0.5;
  cursor: inherit;
}

.login__button_disabled:hover {
  opacity: 0.5;
}

.login__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin: 16px 0 70px;
  color: #a0a0a0;
  text-align: center;
}

.login__link {
  text-decoration: none;
  color: black;
  margin-left: 6px;
}

.login__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .login__logo {
    margin-top: 232px;
  }
}

@media screen and (max-width: 456px) {
  .login {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
  }

  .login__logo {
    margin-top: 56px;
    margin-bottom: 50px;
    align-self: center;
  }

  .login__title {
    margin: 0 0 80px 0;
    text-align: center;
  }

  .login__error {
    padding-top: 217px;
  }

  .login__button {
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
  }

  .login__text {
    font-size: 12px;
    line-height: 15px;
    margin: 14px 0 30px;
  }
}
