.filter {
  display: flex;
  align-items: center;
}

.filter__checkbox:hover {
  cursor: pointer;
}

.filter__line {
  background-color: #cbcbcb;
  width: 1px;
  height: 40px;
}

.filter__checkbox {
  margin-right: 14px;
  margin-left: 29px;
}

.filter__label {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-right: 30px;
  /* no text select */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.filter__label:hover {
  cursor: pointer;
}
